.footer {
    background-color: #77777777;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    margin-left: 50px;
}

.i-d-a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.smicons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 50px;
}

.smicons a {
    height: 60px;
    width: 60px;
}