<div class="header">
    <a class="logo" href="../base/index.html"><img class="logo-header" src="../img/logo.png" alt="LOGO"></a>
    <nav>
        <a title="Zurück zur Startseite" href="../base/index.html">Start</a>
        <a title="Rezept des Tages" href="../base/index.html#rezept-des-tages">Rezept des Tages</a>
        <a title="Kontakt" href="../form/send_mail.html">Kontakt</a>
        <a class="impressum" title="Impressum" href="../base/impressum.html">Impressum</a>
    </nav>
    <img onclick="showMenu()" id="menubutton-1" class="menubutton" src="../img/icons/menu-outline.svg" alt="Menü button">
    <img onclick="hideMenu()" id="menubutton-2" class="menubutton hide" src="../img/icons/close.svg" alt="close">
    <nav id="media-menu" class="media-menu">
        <a title="Zurück zur Startseite" href="../base/index.html">Start</a>
        <a title="Rezept des Tages" href="../base/index.html#rezept-des-tages">Rezept des Tages</a>
        <a title="Kontakt" href="../form/send_mail.html">Kontakt</a>
        <a title="Impressum" href="../base/impressum.html">Impressum</a>
    </nav>
</div>
<div class="holder">

</div>